SUPABASE_URL=https://tdxmgednnszroaqyutxq.supabase.co/auth/v1/.well-known/jwks.json
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRkeG1nZWRubnN6cm9hcXl1dHhxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODExODQwNzYsImV4cCI6MjA5Njc2MDA3Nn0.MqWqYi4DLXwnM3QxwotlbAU17rj8wVxbtSDkgDUDHNE
JWT_SECRET=f5240e22-d175-4849-8247-6b423c8978a5
